.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.about-us-page {
  padding-top: 70px;
}
.about-us-page .default-content-wrapper p:nth-of-type(1) {
    padding: 8px 0;
    font-size: 32px;
    line-height: 48px;
    font-weight: 400;
    border-bottom: 2px solid gold;
    width: fit-content;
}
.about-us-page .default-content-wrapper p:nth-of-type(2) {
    margin: 20px 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
.about-us-cards .cards-card-body {
  text-align: center;
}
.about-us-cards li {
  border: none !important;
}
.about-us-cards .cards-card-image {
  text-align: center;
}
.about-us-cards .cards-card-image img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.section-bottom .default-content-wrapper p:nth-of-type(1) {
    padding: 8px 0;
    font-size: 32px;
    line-height: 48px;
    font-weight: 400;
    border-bottom: 2px solid gold;
    width: fit-content;
}
.section-bottom .default-content-wrapper p:nth-of-type(2) {
    margin: 20px 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}