.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: flex-start;
    flex-direction: unset;
    gap: 24px;
    justify-content: space-between;
  }

  .wknd-body > div {
    gap: 2rem;
  }

  .columns > div > div {
    /* flex: 1; */
    order: unset;
  }

  .faq-section .left-section > div > div:nth-child(1) {
    width: 60% !important;
  }

  .custom-col-2 {
    width: 30%;
  }

  .wknd-body .custom-col-2 {
    width: auto;
    flex: 1;
    padding-right: 1rem;
  }

  .wknd-body .custom-col-1 {
    width: auto;
    flex: 1;
  }
}

.faq-section {
padding-top: 40px;
}

#faqs {
    border-bottom: 2px solid gold;
    width: fit-content;
}

#need-more-help {
  margin-top: 36px;
}

.faq-section .left-section a {
  color: blue !important;
}

.custom-col-1 p {
  margin-top: 1.5rem;
}

.custom-col-1 p:nth-of-type(2) {
  line-height: 3rem;
}

.wknd-body .custom-col-2  p:nth-of-type(4) a {
  padding: 1em 2.5em;
  text-align: center;
  color: #202020 !important;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  background-color: gold;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
}

/* .wknd-body .custom-col-2  p:nth-of-type(2) {
  margin-bottom: 2.5rem;
} */
.wknd-body {
  background-color: lightgray !important;
}

.wknd-body .custom-col-2 {
  width: auto;
  flex: 1;
}

.wknd-body .custom-col-1 {
  width: auto;
  flex: 1;
}

.wknd-body  .custom-col-2 p:nth-of-type(1) {
  font-size: 16px;
  line-height: 22px;
  margin-top: 2rem;
}

.wknd-body  .custom-col-2 p:nth-of-type(2) {
  font-size: 36px;
  line-height: 48px;
  margin-top: 1rem;
}

.wknd-body  .custom-col-2 p:nth-of-type(3) {
  font-size: 14px;
  line-height: 20px;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}