.carousel .carousel-slides-container {
  position: relative;
}

.carousel .carousel-slides,
.carousel .carousel-slide-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel .carousel-slides {
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: scroll clip;
}

.carousel .carousel-slides::-webkit-scrollbar {
  display: none;
}

.carousel .carousel-slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: min(50vw, calc(100dvh - var(--header-height)));
}

.carousel .carousel-slide:has(.carousel-slide-content[data-align='center']) {
  align-items: center;
}

.carousel .carousel-slide:has(.carousel-slide-content[data-align='right']) {
  align-items: flex-end;
}

.carousel .carousel-slide .carousel-slide-image picture {
  position: absolute;
  inset: 0;
}

.carousel .carousel-slide .carousel-slide-image picture > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel .carousel-slide .carousel-slide-content {
  z-index: 1;
  margin: 68px;
  padding: 16px;
  color: white;
  background-color: rgb(19 19 19 / 75%);
  position: relative;
  width: var(--slide-content-width, auto);
}

.carousel .carousel-slide-indicators {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px 12px;
  padding: 12px;
  background-color: var(--light-color);
  line-height: 0;
}

.carousel .carousel-slide-indicator button {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background-color: #8F8F8F;
  transition: background-color 0.2s;
}

.carousel .carousel-slide-indicator button:disabled,
.carousel .carousel-slide-indicator button:hover,
.carousel .carousel-slide-indicator button:focus-visible {
  background-color: var(--text-color);
}

.carousel .carousel-navigation-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

/* stylelint-disable-next-line no-descending-specificity */
.carousel .carousel-navigation-buttons button {
  position: relative;
  width: 44px;
  height: 44px;
  margin: 0;
  border-radius: 50%;
  padding: 0;
  background-color: rgb(19 19 19 / 25%);
  transition: background-color 0.2s;
}

.carousel .carousel-navigation-buttons button:hover,
.carousel .carousel-navigation-buttons button:focus-visible {
  background-color: rgb(19 19 19 / 75%);
}

.carousel .carousel-navigation-buttons button::after {
  display: block;
  content: '';
  border: 2px solid;
  border-bottom: 0;
  border-left: 0;
  height: 12px;
  width: 12px;
  position: absolute;
  top: 50%;
  left: calc(50% + 2px);
  transform: translate(-50%, -50%) rotate(-135deg);
}

.carousel .carousel-navigation-buttons button.slide-next::after {
  transform: translate(-50%, -50%) rotate(45deg);
  left: calc(50% - 2px);
}

@media (width >= 600px) {
  .carousel .carousel-navigation-buttons {
    left: 24px;
    right: 24px;
  }

  .carousel .carousel-slide .carousel-slide-content {
    --slide-content-width: calc((100% - 184px) / 2);

    margin: 92px;
  }

  .carousel .carousel-slide .carousel-slide-content[data-align='justify'] {
    --slide-content-width: auto;
  }

  .custom-carousel .carousel-slide .carousel-slide-content {
    margin: 22rem 0 0;
    width: 90%;
    background-color: #fff;
    color: #000;
  }
}

.home-section {
  padding-top: 40px;
}

.custom-carousel .carousel-slide {
  justify-content: flex-end;
  align-items: center;
}

.home-section .carousel-wrapper {
  padding: 0;
  margin: 0;
  max-width: fit-content;
}

.custom-carousel .carousel-slide-content a {
  padding: 1em 2.5em;
  text-align: center;
  color: #202020 !important;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  background-color: gold;
  cursor: pointer;
  text-decoration: none;
}

.custom-carousel .carousel-slide-content p:nth-of-type(1) {
  margin-bottom: 1rem;
}

.custom-carousel .carousel-slide-content p:nth-of-type(2) {
  margin-top: 1.5rem;
}

.custom-carousel .carousel-slide-indicators {
  background-color: transparent !important;
}

.custom-carousel .slide-prev, .custom-carousel .slide-next {
  background-color: transparent !important;
  border: none;
  cursor: pointer;
}

@media (width >= 992px) {
  .custom-carousel .carousel-navigation-buttons {
      bottom: -9%;
      z-index: 99;
      gap: 1rem;
      width: fit-content;
      transform: translateY(0%);
      left: 88%;
      top: 100%;
  }
}

.custom-carousel .slide-prev:hover, .custom-carousel .slide-next:hover {
  background-color: transparent;
}

.custom-carousel .carousel-slide-indicators .carousel-slide-indicator button {
      background-color: transparent;
    border: 2px solid #202020;
    width: 16px;
    height: 16px;
}

.article-cards .cards-card-body a {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  max-width: fit-content;
  white-space: normal;
  border: none;
  color: #202020 !important;
}

.article-cards .cards-card-image p {
  margin: 0;
}

.article-cards .cards-card-body a:hover {
  background-color: transparent;
}

.article-cards .cards-card-body p:nth-of-type(2) {
  font-size: 16px;
  line-height: 22px;
  color: #8F8F8F;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .article-cards {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5rem;
} */
.recent-body .default-content-wrapper p {
  font-size: 32px;
  line-height: 42px;
  color: #202020;
  font-weight: 400;
  margin-bottom: 3rem;
  border-bottom: 2px solid gold;
  width: fit-content;
}

.article-cards > ul > li {
  border: none !important;
}
