footer {
  background-color: #000;
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}

footer p, a {
  color: #fff !important;
}

footer #wknd {
  color: #fff;
}

footer .section:nth-child(1) .default-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  margin-bottom: 2.5rem;
}

footer .section:nth-child(1) .default-content-wrapper p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  line-height: 24px;
  gap: 3rem;
}

footer .section:nth-child(2) .default-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
  font-size: 14px;
  line-height: 20px;
}

footer .section:nth-child(2) .default-content-wrapper p a {
  text-decoration: underline;
}

.wknd-footer-section .default-content-wrapper p:nth-child(3) {
  background-color: #fff !important;
  padding: 1rem;
}

.wknd-footer-section .default-content-wrapper p:nth-child(3) a {
  display: flex;
}